Accept encoded reserved characters

Attempting to request images using encoded characters results in a Bad Request error: `{"message":"invalid","status":400}`

Here is an example URL causing this, by encoding the `:()` characters:

http://localhost:8000/unsafe/filters%3Afill%28red%29/https://raw.githubusercontent.com/cshum/imagor/master/testdata/gopher.png

If using URL Signature, the error is instead `{"message":"url signature mismatch","status":403}`.

I am aware the characters in question do not need to be encoded. I noticed this issue when some applications were unable to create a preview of the image. Checking the logs, I see the preview crawler encodes the parenthesis, hence failing the request.

You may test the master branch docker build:
https://github.com/cshum/imagor/pkgs/container/imagor/54124586?tag=master
```
ghcr.io/cshum/imagor@sha256:01e16047aae73ac6584a8fc5f8862edeff90f643a6c9ee8e070143cd9c847176
```
with following option:
```
IMAGOR_RETRY_QUERY_UNESCAPE=1
```
which retry unescape on invalid error

Thank you, Adrian! I can confirm that this works as expected.

I do believe this should be the default behaviour without the need to explicitly set an option, to be compatible with [RFC 3986 Section 2.2](https://www.rfc-editor.org/rfc/rfc3986#section-2.2).

Maybe its ok after all...

I understand. Would it be feasible to _always_ unescape the path, instead of retrying in case of an error?

not feasible because the image path is also unescaped such that conflicting path can also be included e.g.
```
localhost:8000/unsafe/100x100/smart%2Fpath%2Fto%2Fimage.jpg
```
always unescape the path would break this functionality

Available in v1.3.3

> Not feasible because the image path needs to be unescaped separately such that conflicting path can also be included

Got it, thank you. In that case I think the implemented solution makes sense. If it already fails I suppose it cannot get worse by trying it again with unescape.

Hi @cshum I have the same issue and noticed that you merge the fix then kind of reverted it right after. Is there a reason for that ? When proxying behind Caddy parenthesis are always escaped and the reason given is the same as @jonataw mentioned https://github.com/caddyserver/caddy/pull/4948. Thanks!

@hlidotbe the behaviour should remain unchanged since it was being merged. 
https://github.com/cshum/imagor/blob/master/imagor_test.go#L268

Can you share some example of image paths that reproduce the issue?

